html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
}
body {
  background: #21252b;

  color: #d3ddef;
}

.ag-canvas {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  position: relative;
  visibility: visible;

  width: 100%;
  height: 100%;
  padding: 3rem 1rem;
  opacity: 1;
  transition: opacity 0.5s;

  z-index: -1;
  margin-top: -90px;
}
.ag-canvas_svg {
  display: block;
  width: 100%;
  height: auto;
  max-height: 100%;
  margin-left: 1rem;
}
.ag-canvas_svg path {
  fill: #383d46;
  fill-opacity: 1;
  stroke: #21252b;
  stroke-opacity: 1;
  stroke-width: 0.5;
  transition: 0.5s;
}

@media screen and (max-width: 767px) {
  .ag-canvas {
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    height: auto;
    padding: 4rem 1rem 1rem;
  }
  .ag-canvas_svg {
    max-height: calc(100% - 6rem);
    margin-left: 0;
  }
}

input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: teal;
  /* float: right;
  margin-bottom: -100px; */
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.total-count {
  font-family: "Roboto", sans-serif;
  color: white;
  position: absolute;
  padding: 15px;
  left: 0;
  bottom: 0;
}

.modal-content {
  background-color: #21252b;
}

.modal-title {
  margin-left: 30%;
}

/* Spinner CSS */
.spinner{
  height: 350px;
  width: 350px;
  position: relative;
  animation: spin 1.5s infinite;
}
@keyframes spin{
  100%{
      transform: rotate(360deg);
  }
}
.spinner>div:nth-child(1){
  height: 75px;
  width: 75px;
  background-image: linear-gradient(
      45deg,
      #f7d000,
      #e6970e
  );
  position: absolute;
  top: 100px;
  left: 100px;
  box-shadow: 0 0 3px #f7d000;
  border-radius: 50%;
  animation: move1 1.5s infinite;
}
@keyframes move1{
  50%{
      transform: translate(-30px,-30px) scale(0.3);
  }
}
.spinner>div:nth-child(2){
  height: 45px;
  width: 45px;
  background-image: linear-gradient(
      45deg,
      #00d7f7,
      #04c0f5
  );
  position: absolute;
  top: 105px;
  right: 110px;
  box-shadow:  0 0 2px #00d7f7;
  border-radius: 50%;
  animation: move2 1.5s infinite;
}
@keyframes move2{
  50%{
      transform: translate(15px,-20px) scale(0.55);
  }
}
.spinner>div:nth-child(3){
  height: 75px;
  width: 75px;
  background-image: linear-gradient(
      45deg,
      #f60180,
      #f7014f
  );
  position: absolute;
  bottom: 100px;
  right: 100px;
  box-shadow: 0 0 3px #f60180;
  border-radius: 50%;
  animation: move3 1.5s infinite;
}
@keyframes move3{
  50%{
      transform: translate(30px,30px) scale(0.3);
  }
}
.spinner>div:nth-child(4){
  height: 45px;
  width: 45px;
  background-image: linear-gradient(
      45deg,
      #da00f7,
      #b501f6
  );
  position: absolute;
  bottom: 105px;
  left: 110px;
  border-radius: 50%;
  animation: move4 1.5s infinite;
}
@keyframes move4{
  50%{
      transform: translate(-15px,20px) scale(0.55);
  }
}
